
.nummarit-button {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--vaaleansininen);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.nummarit-button:hover {
    background: var(--partionsininen);
    color: #fff !important;
}

.nummarit-card {
    background-color: var(--foreground);
    color: var(--onforeground) !important;
    border-radius: 20px;
    display: flex;
}

.nummarit-card > content {
    flex: 1;
    display: inline-block;
    margin: 20px;
    overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tausta);
}

html, body, #root {
  height: 100%;
  width: 100%;
}
